@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 90rem;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.icon {
  padding: 0.5em;
  width: 90px;
  height: 50px;
  

}


header {
  width: 90rem;
  height: 15%;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0em 0.3em 0.3em 0em #0D606F80;
  margin: 0px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;
  position: absolute;
}

#preview {
  height: 20%;
  width: 100%;
  background-image: url(img/bg.jpg);
  background-size: cover;
}

nav {
  width: 42%;
  
}

ul {
  list-style-type: none; 
  display: flex;
  gap: 8.5%;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Red Hat Text;
  font-size: 120%;
}


header h1 {
  color: #FFFFFF;
  font-family: Magra;
  font-size: 250%;

}

#tni {
  width: 19%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  padding: 0.6% 1.8%;
  color: #FFFFFF;
  background-color: rgba(13, 96, 111, 1);
  box-shadow: 0em 0.20em 0.20em 0em rgba(13, 96, 111, 0.5);
  font-family: Red Hat Text;
  font-size: 120%;
  border-radius: 0.5em;
  border-style: none;
  cursor: pointer;
}


#square {
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 20%;
  margin: 0px;
}

#p1 {
  font-family: Aleo;
  color: #FFFFFF;
  width: 60%;
  height: 50%;
  opacity: 0px;
  font-size: 600%;
  font-weight: 700;

}

#p2 {
  padding-bottom: 1.5%;
  margin: 0px;
  border: 0px;
  opacity: 0px;
  font-family: Aleo;
  font-size: 150%;
  font-style: italic;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;
 
}

#p3 {
  width: 45%;
 border: 0px;
 color:rgba(242, 120, 92, 0.7);
 font-family: Aleo;
 font-size: 180%;
 font-style: italic;
 margin: 0;
}

#search {
 background-color:rgba(255, 255, 255, 0.7);
 width: 62%;
 border-radius: 1.5em;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 gap: 40%;
 padding: 1.5%;
}

#another {
  width: 24%;
  font-size: 180%;
  border-radius: 0.5em;
  opacity: 0px;
  position: relative;
  margin: 0px;
  padding: 1.9%;
 
}

#steps {
  height: 15%;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 7%;
  display: flex;
  flex-direction: column;

}

h2 {
  font-family: Red Hat Text;
  color:rgba(242, 120, 92, 1);
  font-size: 250%;
  font-weight: 500;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}



#p4 {
  width: 320%;
  font-family: Aleo;
  font-size: 130%;
  font-weight: 400;
  color: rgba(13, 96, 111, 1);
  margin-top: -10%;
  margin-left: -70%;

}

#p5 {
  width: 320%;
  font-family: Aleo;
  font-size: 130%;
  font-weight: 400;
  color: rgba(13, 96, 111, 1);
  margin-top: -15%;
  margin-left: -55%;

}

#p6 {
  width: 390%;
  gap: 0px;
  opacity: 0px;
  font-family: Aleo;
  font-size: 130%;
  font-weight: 400;
  color: rgba(13, 96, 111, 1);
  margin-top: -10%;
  margin-left: -90%;

}

.cubes {
  height: 200%;
  width: 10%;
  height: 130%;
}

#cubes {
  margin-top: 3%;
  margin-left: 10%;
  height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 13%;
  width: 80%;
}

.cube_bg {
  width: 100%;
  height: 100%;
}

#bicyle {
  position: relative;
  top: -40%;
  left: 22%;
  width: 100%;
  height: 30%;
  
}

#calendar{
  position: relative;
  top: -43%;
  left: 22%;
  width: 55%;
  height: 30%;
}

#plane {
  position: relative;
  top: -40%;
  left: 19%;
  width: 60%;
  height: 30%;

}

#destinations {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#photos {
  height: 50em;
  width: 100%;
  gap: 4%;
  display: flex;
  background-size: cover;
}

#destination1 {
  width: 22.5%;
  height: 50em;
  border-radius: 0em 1em 1em 0em;
  background-image: url(img/sea.jpg);
  background-repeat: no-repeat;
}

#destination2 {
  width: 55%;
  height: 25em;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  font-size: 200%;
  background-image: url(img/japan.jpg);
  background-repeat: no-repeat;
}

#destination3 {
  width: 22.5%;
  height: 50em;
  border-radius: 1em 0em 0em 1em;
  background-image: url(img/usa.jpg);
  background-repeat: no-repeat;
}

 #japan {
  font-weight: 500;
  font-family: Red Hat Text;
  color: rgba(255, 255, 255, 1);
  width: 25%;
  position: relative;
  top: 90%;
  margin-left: 3%;
}

#usa {
  font-weight: 500;
  font-family: Red Hat Text;
  color: rgba(255, 255, 255, 1);
  width: 25%;
  position: relative;
  top: 90%;
  margin-left: 5%;
  font-size: 200%;

}

#circles {
  width: 5%;
  height: 1.5em;
  display: flex;
  flex-direction: row;
  gap: 11%;
  margin: 2%;

}

#c1 {
  width: 100%;
  max-width: 30%;
  max-height: 1.3em;
  height: 100%;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 1em;
}

#c2 {
  width: 100%;
  max-width: 30%;
  height: 1.3em;
  background: rgba(242, 120, 92, 1);
  border-radius: 1em;

}

#c3 {
  width: 100%;
  max-width: 30%;
  height: 1.3em;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 1em;

}

#arrow {
  background-image: url(img/biarrow_right.png);
  width: 25%;
  height: 130%;
  background-repeat: no-repeat;
  position: relative;
  top: 35%;
  flex-shrink: 0;
  

}

#more {
  width: 16%;
  font-size: 170%;
  height: 2.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more {
  width: 16%;
  font-size: 170%;
  margin: 0px;
  height: 2.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  position: relative;
  left: 0%;
}

#stories {
  background-image: url(img/laken.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

#staries {
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 77.5em;
  padding-top: 2.5%;
}

#story {
  margin-top: 7%;
  margin-bottom: 3%;
}


.h3 {
  width: 85%;
  font-family: Aleo;
  font-size: 250%;
  font-weight: 400;
  text-align: left;
  color: rgba(13, 96, 111, 1);
  margin: 0;

}

.ps {
  text-overflow: ellipsis;
  width: 90%;
  font-family: Aleo;
  font-size: 130%;
  font-weight: 400;
  line-height: 110%;
  text-align: left;
  color: rgba(13, 96, 111, 1);

}

span {
  font-family: Aleo;
  font-size: 100%;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;

}

.img {
  height: 100%;
  border-radius: 1em;
  box-shadow: 0em 0.3em 0.3em 0em rgba(13, 96, 111, 1);
}

.stories {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 1%;
  position: relative;
  left: -13%;
  
}

.hnp {
  width: 50%;
  height: 1em;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

#footer {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 1%;
  border: 0;
  align-items: center;
  justify-content: center;
  gap: 40%;
  text-wrap: nowrap;
  position: relative;
  left: 38.5%;

}

#copyright {
  font-family: Red Hat Text;
  font-size: 100%;
  font-weight: 500;
  text-align: left;
  color: rgba(255, 255, 255, 1);

}


#socialmedia {
  gap: 20%;
  display: flex;
  flex-direction: row;
  align-items: center; ;
}

.container {
  display: none;
}

.header_burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
  cursor: pointer;
}

.header_burger-btn span {
  position: absolute;
  width: 100px;
  height: 10px;
  background-color: white;
  left: 5px;
  transition: background-color .3s, opacity .3s, transform.5s;
  will-change: transform;
}

.header_burger-btn span:nth-child(1){
  transform: translatey(-25px);
}

.header_burger-btn span:nth-child(3){
  transform: translatey(25px);
}

/* Крестик */

.header.open .header_burger-btn span{
  background-color: white;
}

.header.open .header_burger-btn span:nth-child(1){
  transform: translatey(0) rotate(45deg);
}

.header.open .header_burger-btn span:nth-child(2){
  opacity: 0;
}

.header.open .header_burger-btn span:nth-child(3){
  transform: translatey(0px) rotate(-45deg);
}

span {
  border-radius: 2em;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 10px 0px 15px;
  line-height: 2em;
}

.header_container {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
}

.logo {
  display: block;
}

.logo_img {
  width: 200px;
  display: none;
}

.menu_list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu_item:not(:last-child){
  margin-right: 20px;
}

.menu_link {
  font-size: 16px;
  color: blueviolet;
  text-decoration: none;
  display: none;

}


@media (max-width:380px){
  body {
    max-width: 80rem;

  }
}

@media (max-width:380px){

  body {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .header {
    background: none;
    box-shadow: none;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
    gap: 80%;
    
  }


  header {
    display: none;
  }

  h1 {
    display: none;
  }

  button {
    display: none;
    white-space: nowrap;
  }

  #another {
    display: block;
    white-space: nowrap;
    font-size: 200%;
    width: 30%;
    border-radius: 0.7em;
    font-weight: 450;
    letter-spacing: 1px;
  }

  #p1 {
    display: none;

  }

  #p2 {
    display: none;
  }

  #p3 {
    font-size: 280%;
    width: 100%;
    color: rgba(242, 120, 92, 1);
  }

  #square {
    height: 50em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  #search {
    height: 6em;
    border-radius: 3.5em;
    width: 85%;
    padding: 3%;
    padding-left: 5%;
    margin-bottom: 10em;
    gap: 0;

  }

  #preview {
    background-image: url(img/bg_mobile.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: relative;
    height: 10%;
    width: 100%;  
  }

  #tni {
    width: 110px;
    height: 100px;

  }

  .icon {
    width: 110px;
    height: 100px;
  }

  span {
    display: flex;
    color: #FFFFFF;
    position: relative;
    box-shadow: none;
  }

  .container {
    display: block;
    margin: 0;
    padding: 0;
  }

  .menu {
    position:absolute;
    right: -32em;
    top: -14em;
    width: 32em;
    height: 44em;
    background-color: rgba(242, 120, 92, 1);
    padding: 90px 0px 0px 0px;
    transition: transform .5s, visibility .3s;
    border-radius: 30px;
    box-shadow: 0px 4px 3px 0px rgba(13, 96, 111, 0.25);
    margin-top: 18%;
    z-index: 1;
    
   }

   .menu_list {
    display: block;
   }

   .menu_link {
    color: white;
    font-size: 50px;
    display: block;
    padding: 60px 30px 10px 0px;
    font-weight: 500;
    text-align: right;
   }

   .header_burger-btn {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    border-radius: 10%;
    box-shadow: none;
   }

   .header.open .menu {
    transform: translate(-100%);
   }

   .desktop {
    display: none;
   }

   .header.open .header_burger-btn {
    right: 1em;
    top: -100px;
    box-shadow: none;
    transform: translate(-340%);
    transition: transform .5s, visibility .3s;
   }

   .header.open .header_burger-btn span {
    width: 70px;
    height: 4px;
   }

   #steps {
    margin-bottom: 13%;
   }

   h2 {
    font-size: 300%;
   }

   #cubes {
    width: 100%;
    height: 30%;
    margin-left: 3%;
   }

   .cubes {
    height: 20em;
    width: 60%;
   }

   .cube_bg {
    width: 75%;
    height: 75%;
   }

   #bicyle {
    width: 80%;
    height: 40%;
    top: -80%;
    left: 16%;
   }

   #calendar {
    width: 40%;
    height: 40%;
    top: -82%;
    left: 18%;
   }

   #plane {
    width: 45%;
    height: 40%;
    top: -77%;
    left: 15%;
   }

   #p4 {
    width: 100%;
    margin: 0;
   }

   #p5 {
    width: 140%;
    margin: 0;
    left: -25%;
   }

   #p6 {
    width: 110%;
    margin: 0;
    text-align: right;
    left: -35%;
   }

   #p4, #p5, #p6 {
    position: relative;
    top: -50%;
    font-size: 230%;
   }


}

@media (max-width:320px){
  body {
    max-width: 65rem;

  }
}

@media (max-width:320px){
  header {
    max-width: 65rem;
  }
}

@media (max-width:260px){
  body {
    max-width: 50rem;

  }
}

@media (max-width:260px){
  header {
    max-width: 50rem;
  }
}

