@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.icon {
  position: relative;
  left: 40%;
  margin: 43%;
}


header {
  width: 100%;
  height: 12%;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px 0px #0D606F80;
  margin: 0px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  position: absolute;

}

#preview {
  height: 20%;
  width: 100%;
  background-image: url(img/bg.jpg);
  background-size: cover;
}

nav {
  width: 40%;
  
}

ul {
  list-style-type: none; 
  display: flex;
  gap: 10%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Red Hat Text;
  font-size: 145%;
}


header h1 {
  margin: 0;
  padding: 0;
  width: 20%;
  height: 150%;
  gap: 0px;
  opacity: 0px;
  color: #FFFFFF;
  font-family: Magra;
  font-size: 250%;

}

#tni {
  width: 10%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -10%;

}

button {
  padding: 0.6% 1.8%;
  color: #FFFFFF;
  background-color: rgba(13, 96, 111, 1);
  box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.5);
  font-family: Red Hat Text;
  font-size: 145%;
  border-radius: 10px;
  border-style: none;
  position: relative;
  right: 10%;
  cursor: pointer;
}


#square {
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 20%;
  margin: 0px;
}

#p1 {
  font-family: Aleo;
  color: #FFFFFF;
  width: 60%;
  height: 50%;
  opacity: 0px;
  font-size: 600%;
  font-weight: 700;

}

#p2 {
  padding-bottom: 1.5%;
  margin: 0px;
  border: 0px;
  opacity: 0px;
  font-family: Aleo;
  font-size: 150%;
  font-style: italic;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;
 
}

#p3 {
  width: 45%;
 border: 0px;
 color:rgba(242, 120, 92, 0.7);
 font-family: Aleo;
 font-size: 180%;
 font-style: italic;
 margin: 0;
}

#search {
 background-color:rgba(255, 255, 255, 0.7);
 width: 62%;
 border-radius: 16px;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 gap: 40%;
 padding: 1.5%;
}

#another {
  width: 24%;
  font-size: 180%;
  border-radius: 10px;
  opacity: 0px;
  position: relative;
  margin: 0px;
  padding: 1.9%;
 
}

#steps {
  height: 15%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;

}

h2 {
  height: 53px;
  font-family: Red Hat Text;
  color:rgba(242, 120, 92, 1);
  font-size: 40px;
  font-weight: 500;
  line-height: 52.92px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}



#p4 {
  width: 247px;
  height: 24px;
  font-family: Aleo;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(13, 96, 111, 1);
  white-space: nowrap;
  margin-left: -70px;
  margin-top: -20px;

}

#p5 {
  width: 222px;
  height: 24px;
  font-family: Aleo;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(13, 96, 111, 1);
  white-space: nowrap;
  margin-left: -70px;
  margin-top: -27px;

}

#p6 {
  width: 317px;
  height: 24px;
  top: 130px;
  gap: 0px;
  opacity: 0px;
  font-family: Aleo;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(13, 96, 111, 1);
  white-space: nowrap;
  margin-left: -100px;
  margin-top: -20px;


}

.cubes {
  width: 100px;
  height: 100px;
}

#cubes {
  height: 154px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 200px;
}

#bicyle {
  position: relative;
  top: -78px;
  left: 23px;
}

#calendar{
  position: relative;
  top: -78px;
  left: 23px;
}

#plane {
  position: relative;
  top: -75px;
  left: 21px;

}

#destinations {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#photos {
  width: 100%;
  height: 20%;
  gap: 60px;
  display: flex;
  background-size: cover;
}

#destination1 {
  width: 22.5%;
  height: 800px;
  border-radius: 0px 16px 16px 0px;
  background-image: url(img/sea.jpg);
}

#destination2 {
  width: 55%;
  height: 800px;
  border-radius: 16px 16px 16px 16px;
  font-size: 32px;
  background-image: url(img/japan.jpg);
}

#destination3 {
  width: 22.5%;
  height: 800px;
  border-radius: 16px 0px 0px 16px;
  background-image: url(img/usa.jpg);
}

.country {
  font-weight: 500;
  font-size: 32px;
  font-family: Red Hat Text;
  color: rgba(255, 255, 255, 1);
  width: 108px;
  height: 42px;
  position: relative;
  top: 718px;
  margin-left: 30px;
}

#circles {
  width: 80px;
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 30px;

}

#c1 {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 10px;
}

#c2 {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 1);
  border-radius: 10px;

}

#c3 {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 10px;

}

#arrow {
  background-image: url(img/biarrow_right.png);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  padding: 8.75px 2.5px 8.75px 2.5px;
  position: relative;
  top: 17px;

}

#more {
  width: 228px;
  height: 59px;
  opacity: 1;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  left: -4px;

}

#stories {
  margin-top: 100px;
  background-image: url(img/laken.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

#staries {
  height: 30%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;

}


.h3 {
  width: 760px;
  height: 42px;
  gap: 0px;
  opacity: 0px;
  font-family: Aleo;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  color: rgba(13, 96, 111, 1);
  margin: 0;

}

.ps {
  width: 760px;
  height: 184px;
  gap: 0px;
  opacity: 0px;
  font-family: Aleo;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(13, 96, 111, 1);

}

span {
  font-family: Aleo;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;

}

.img {
  width: 400px;
  height: 250px;
  border-radius: 16px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 1);

}

.stories {
  width: 150%;
  height: 250px;
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
  
}

.hnp {
  width: 1200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

#footer {
  width: 728.96px;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 1%;
  border: 0;
  align-items: center;
  justify-content: center;
  gap: 250px;
  text-wrap: nowrap;
  position: relative;
  left: 540px;

}

#copyright {
  width: 260px;
  font-family: Red Hat Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.17px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-left: 50px;

}


#socialmedia {
  width: 140.96px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center; ;
}
